body {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.tradingview-widget-copyright {
  display: none;
}

.tradingview-widget-container {
  height: 64px !important;
}

img {
  display: block;
  margin: 50px auto;
}
